doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    block head-scripts
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
    block body-scripts
      script(src='/components/jquery/dist/jquery.min.js')
