extends layout

block content
  #chatbox(data-chatboxid=chatbox.id)
    #messages

    #login-box
      form#login-form
        label(for='username') Username
        input(autocomplete='off')#username

        label(for='password') Password
        input(autocomplete='off',type='password')#password

        button Login

    #message-box
      form#message-form
        input(autocomplete='off')#message
        button Send

append body-scripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/chatbox.js')
